.md-grid-button {
  min-height: 26px;
  min-width: auto;
  height: 26px;
  margin: 0;
  padding-left: 4px;
}

md-grid-tile-footer.custom-tile-footer {
  background-color: rgba(0, 0, 0, 0.6);
  height: 48px;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;  
}

md-grid-tile-footer.custom-tile-footer:hover {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.tile-year {
  padding-left: 4px;
}

.grid-list-sort {
  padding-bottom: 14px;
}

.grid-list-footer {
  height:40px;
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 32px;
}

#options{
  margin-bottom: 16px;
}

.play-overlay {
  height: 50%;
  width: 50%;
  z-index:2;
  opacity: 0.6;
}
