.md-grid-button {
  min-height: 26px;
  height: 26px;
  margin: 0;
  padding-left: 4px;
}

md-grid-tile-footer.custom-tile-footer {
  background-color: rgba(0, 0, 0, 0.6);
  height: 48px;
}

.tile-year {
  padding-left: 4px;
}

.grid-list-sort {
  padding-bottom: 14px;
}

.grid-list-footer {
  height:40px;
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 32px;
}

#options{
  margin-bottom: 16px;
}
