.md-grid-button {
  min-height: 26px;
  height: 26px;
  margin: 0;
  padding-left: 4px;
}

md-grid-tile-footer.custom-tile-footer {
  background-color: rgba(0, 0, 0, 0.3);
  height: 48px;
}

.tile-year {
  padding-left: 4px;
}
