md-content(layout-padding="" style="padding: 24px;")

	h1 Edit {{track.title}}

	md-content(layout-padding="" layout="row" layout-sm="column")
		form(name="edit-track-form")
			md-input-container
				label Title
				input(id="title" name="title" type="text" ng-model="track.title")
			md-input-container(layout="row")
				md-button.md-raised.md-warn(ng-click="delete") Delete
				md-button.md-raised.md-primary(ng-click="save()") Save
			md-input-container
				h3 Audio File
				input(id="track-audio" name = "audio" type="file" ngf-select ng-model="track.audio")
