md-content(layout-padding="" style="padding: 24px;")
	md-content.primary-content(layout-padding="")
		h1.md-primary.album-title Tracks
	md-content.primary-content(layout-padding="")
		x-track-table(tracks="tracks" headers="headers" count="count" ng-show="tracks")
