md-grid-list .md-primary.md-hue-1 {
  background: #7986CB;
}

.dragover {
    border: 5px dashed #7986CB;
}

.album-show-image {
  height: 250px;
  width: auto;
  margin-top: 24px;
  margin-right: 24px;
}

.album-title {
  margin-bottom: 4px;
  margin-top: 4px;
}

.album-subtitle {
  margin-bottom: 16px;
}
