md-content(layout-padding="" style="padding: 24px;")
	h1 News
	md-button.md-raised.md-accent(ui-sref="root.posts.new" ng-if = "user.role && (user.role == 'admin' || user.role == 'producer')")
		|Add a post
	div(ng-repeat = "post in posts")
		h3 {{post.title}}
		div {{post.content}}
		div {{post.user.name}} {{post.updated_at | date:"medium"}}
		md-button.md-raised.md-warn(ng-click="delete(post)") Delete
