md-content(layout-padding="" style="padding: 24px;")
	h1 News
	md-card
		img.md-card-image(ng-src="{{post.cover_image.url}}")
		md-card-content
			h2.md-title {{post.title}}
			h3.md-title.md-primary {{post.author}} {{post.updated_at | date:"medium"}}
			div.article(ng-bind-html="post.content")
		div.md-actions(layout="row" layout-align = "end center")
			md-button.md-raised.md-primary(ui-sref="root.posts.edit({postId: post.id})" ng-if = "user.role && (user.role == 'admin' || user.role == 'producer')") Edit
