md-toolbar(layout="row")
	div.md-toolbar-tools
		md-button.nav-button(ui-sref=".home") Home 
		md-button.nav-button(ui-sref=".news") News 
		md-button.nav-button(ui-sref=".faq") FAQ 
		md-button.nav-button(ui-sref=".about") About
		md-button.nav-button(ng-if="!user.signedIn" ui-sref=".login") Login
		md-button.nav-button(ng-if="!user.signedIn" ui-sref=".users.new") Signup
	div.md-toolbar-tools#user-info(ng-if="user.signedIn" layout="row" flex)
		| Welcome, {{user.name}}
		md-button.nav-button(ui-sref="root.users.edit({userId:user.id})" flex) Account
		md-button.nav-button(ng-click="signOut()" flex) Log out
	//- img.potential(src="http://giant.gfycat.com/AnnualShallowBlackwidowspider.gif")
