md-toolbar(layout="row")
	div.md-toolbar-tools
		a(ui-sref=".home") Home 
		a(ui-sref=".news") News 
		a(ui-sref=".faq") FAQ 
		a(ui-sref=".about") About
	//- img.potential(src="http://giant.gfycat.com/AnnualShallowBlackwidowspider.gif")
