md-toolbar(layout="row")
	div.md-toolbar-tools
		md-button.nav-button(ui-sref=".home" flex) Home 
		md-button.nav-button(ui-sref=".news" flex) News 
		md-button.nav-button(ui-sref=".faq" flex) FAQ 
		md-button.nav-button(ui-sref=".about" flex) About
		md-button.nav-button(ng-if="!user.id" ui-sref=".login" flex) Login
		md-button.nav-button(ng-if="user.id" ng-click="signOut()" flex) Log out
		md-button.nav-button(ng-if="!user.id" ui-sref=".signup" flex) Signup
	//- img.potential(src="http://giant.gfycat.com/AnnualShallowBlackwidowspider.gif")
