div.jumbotron.text-center
	h2
		|This is the navbar (TOP)
	a.btn(ui-sref=".home") Home 
	a.btn(ui-sref=".news") News 
	a.btn(ui-sref=".faq") FAQ 
	a.btn(ui-sref=".about") About
	//- img.potential(src="http://giant.gfycat.com/AnnualShallowBlackwidowspider.gif")

div.jumbotron.text-center
	h2
		|This is the media navbar (LEFT)
	a.btn(ui-sref=".albums.index") Albums 
	a.btn(ui-sref=".artists") Artists 
	a.btn(ui-sref=".playlists") Playlists 
	a.btn(ui-sref=".tracks") Tracks 