div.md-toolbar-tools
	md-button.md-icon-button(ng-click="toggleLeft()")
		i.mdi.mdi-menu
	h1
		span uTunes
	span(flex)
	md-button.md-icon-button(ng-click="toggleRight()")
		i.mdi.mdi-account
	x-searchbar
	
	//- div.md-toolbar-tools(ng-if="!user.signedIn")
	//- 	md-button.nav-button(ui-sref=".login") Login
	//- 	md-button.nav-button(ui-sref=".users.new") Signup
	//- div.md-toolbar-tools#user-info(ng-if="user.signedIn" layout="row" flex)
	//- 	| Welcome, {{user.name}}
	//- 	md-button.nav-button(ui-sref="root.users.edit({userId:user.id})" flex) Account
	//- 	md-button.nav-button(ng-if="user.role == 'admin'" ui-sref="root.users.index" flex) Manage
	//- 	md-button.nav-button(ng-click="signOut()" flex) Log out
