table
  thead
    tr
      th(ng-repeat="header in headers")
        a(href="#" ng-if="handleSort(header.field)" ng-click="reverse=!reverse;order(header.field, reverse)"){{header.name}}
          i.mdi.mdi-chevron-up(ng-show="reverse && header.field == predicate")
          i.mdi.mdi-chevron-down(ng-show="!reverse && header.field == predicate")
        span(ng-if="!handleSort(header.field)")
          |{{header.name}}
  tbody
    tr(ng-repeat="track in tracks")
      td(ng-repeat= "header in headers")
        div(ng-if="header.field == 'track_number'")
          |{{track.track_number}}
        div(ng-if="header.field == 'title'")
          |{{track.title}}
        div(ng-if="header.field == 'artists'")
          a(ng-repeat="artist in track.artists" ui-sref="root.artists.show({artistId: artist.id})")
            span(ng-if=)
            {{artist.name}} {{artist.class_year}}{{$last ? '' : ', '}}
        div(ng-if="header.field == 'album'")
          a(ui-sref="root.albums.show({albumId: track.album.id})"){{track.album.title}}
        div(ng-if="header.field == 'length_in_seconds'")
          |{{track.length_in_seconds}}
        div(ng-if="header.field == 'audio'")
          audio(controls)
            source(ng-src="{{track.audio.url}}")
        div(ng-if="header.field == 'edit'")
          a.btn(ui-sref="root.tracks.edit({trackId:track.id})")
            |Edit Track
