ng-form(name="form" novalidate)
  div.primary-content(ng-hide="track._destroy")
    md-input-container
      label Track Number
      input(id="track-number" name="track_number" type="number" ng-model="track.track_number" required ui-validate="{unique: 'uniqueTrackNumber($value)'}")
      div(ng-messages="form.track_number.$error")
        div(ng-message="required") required
        div(ng-message="number") number required
        div(ng-message="unique") track numbers must be unique
    md-input-container
      label Title
      input(id="track-title" name="track_title" type="text" ng-model="track.title" required)
      div(ng-messages="form.track_title.$error")
        div(ng-message="required") required
    md-input-container
      h3.md-primary Audio File
      div.drop-box(ng-if= "track.id" id="track-audio" name = "file" type="file" ngf-select ngf-drop ngf-drag-over-class="dragover" ngf-pattern="'.mp3,.ogg,.wav'" ng-model="track.file") Drag and drop or click to upload      
      div.drop-box(ng-if= "!track.id" id="track-audio" name = "file" type="file" ngf-select ngf-drop ngf-drag-over-class="dragover" ngf-pattern="'.mp3,.ogg,.wav'" ng-model="track.file" required) Drag and drop or click to upload
      p {{track.file.name}}
      audio#new-track-audio(ngf-src="track.file") 
      div(ng-if = "!track.id" ng-messages="form.file.$error")
        div(ng-message="required") required
      div(ng-messages="track.file.$error")
        div(ng-show="track.file.$error=='pattern'") .mp3, .wav, or .ogg audio required
    div.primary-content.nested-field
      h3.md-primary Artists
      
      div(ng-repeat="artist in artists" ng-hide="artist._remove" layout="row" flex)
        span.producer-link
          a(ui-sref="root.artists.show({artistId: artist.id})"){{artist.name}} {{artist.class_year}}
        span.producer-options
          md-button.md-raised.md-accent(ui-sref="root.artists.edit({artistId: artist.id})") Edit artist
          md-button.md-raised.md-warn(href="#" ng-click="removeArtistAssociation(artist)") Remove association
      div(ng-repeat="artist in track.artists" layout="row" ng-hide="artist._remove")
        artist-fields(register-form-scope="registerFormScope" artist="artist" edit="artistEdit")
        md-input-container
          md-button.md-raised.md-warn(ng-click="removeArtist($index, track)") X Remove Artist
      md-input-container
        md-button.md-raised.md-accent(ng-click="addArtist(track)") + Add Artist
