ng-form(name="form" novalidate)
  div(ng-hide="track._destroy")
    md-input-container
      label Track Number
      input(id="track-number" name="track_number" type="number" ng-model="track.track_number" required)
      div(ng-messages="form.track_number.$error")
        div(ng-message="required") This field is required
        div(ng-message="number") A number is required
    md-input-container
      label Title
      input(id="track-title" name="track_title" type="text" ng-model="track.title")
      div(ng-messages="form.track_title.$error")
        div(ng-message="required") This field is required
    md-input-container
      h3 Audio File
      div.drop-box(id="track-audio" name = "audio" type="file" ngf-select ngf-drop ngf-drag-over-class="dragover" ngf-pattern="'.mp3,.ogg,.wav'" ng-model="track.file") Drop file
      p {{track.file.name}}
      div(ng-messages="track.file.$error")
        div(ng-show="track.file.$error=='pattern'") An HTML5-compliant audio file is required.
    h3 Artists
    div(ng-repeat="artist in track.artists" layout="row")
      artist-fields(register-form-scope="registerFormScope" artist="artist" edit="artistEdit")
      md-input-container
        md-button.md-raised.md-warn(ng-click="removeArtist($index, track)") X Remove Artist
    md-input-container
      md-button.md-raised.md-accent(ng-click="addArtist(track)") + Add Artist
