md-content(layout-padding="" style="")
	md-content(layout-padding="")
		h1.md-primary A confirmation message has been sent to the email you registered with. Please click the link to confirm your account.
