md-content(layout-padding="" style="padding: 24px;")
	md-content(layout-padding="")
		h1.md-primary Contact
	md-content(layout-padding="")
		div
			span General Inquiries
				a(href="mailto:")
		div
			span Staff Advisor
				a(href="mailto:jkay@utschools.ca") jkay@utschools.ca
