md-content(layout-padding="" style="padding: 24px;")
	md-content(layout-padding="")
		h1.md-primary FAQ
		
	md-content.primary-content(layout-padding="")
		h2.md-primary What is uTunes?
		p uTunes is University of Toronto Schools' (UTS) online music "production", hosting music produced by students and alumni from the school. site. With the exception of special requirements, such as votes, that are coordinated by the I.T. department, the website is entirely student-made.
		
	md-content.primary-content(layout-padding="")
		h2.md-primary What is the Twig Tape?
		p Twig Tape is an annual compilation of music composed of student/alumni-written, -performed and -produced songs.

	md-content.primary-content(layout-padding="")
		h2.md-primary When was Twig Tape first produced?
		p Twig Tape was produced for the first time in the 1985-1986 school year, and has been a UTS tradition since.

	md-content.primary-content(layout-padding="")
		h2.md-primary Where does the name "Twig Tape" come from?
		p UTS's motto is "Velut arbor ita ramus", which translates from Latin to "As the tree, so the branch". This represents UTS's affiliation with the University of Toronto, the tree being the University of Toronto, and the branch being UTS. Because of this motto UTS's annual yearbook is named the Twig as it is an offshoot of UTS (the branch) and for this same reason the annual CD production is called the Twig Tape.
		
	md-content.primary-content(layout-padding="")
		h2.md-primary How does uTunes deal with copyrights and legal distribution issues? What if I have a song on uTunes I would like to remove?
		p uTunes's Archives uses the opt-out system. We upload all the music that have been recorded onto previous Twig Tapes. If you find a piece of music you created on uTunes, but would like to remove it from the Archives, please contact the Twig Tape Producers and ask for the permanent removal of this file from the online archives. Your requests will usually be processed in just a few days.
