/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #2979FF;
}


[layout=row] {
  flex-direction: row;
}

.article {
  white-space: pre-line;
}


.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.position-fixed {
  position: fixed;
}

#banner {
  height: auto;
  width: 100%;
}

#content-sheet {
  position: relative;
  top: -5px;
  width: 100%;
  min-height: 800px;
}

#main-content {
  width: 60%;
  margin: auto;
}

h1.md-primary, h2.md-primary, h3.md-primary {
  color: #3949ab;
}

.primary-content {
  margin-bottom: 36px;
}

.nested-field {
  margin-left: 36px;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
