md-content(layout-padding="" style="padding: 24px;")

	h1 Edit {{album.title}}

	md-content(layout-padding="" layout="row" layout-sm="column")
		form(name="edit-album-form")
			md-input-container
				label Title
				input(id="title" name="title" type="text" ng-model="album.title" placeholder="{{album.title}}")
			md-input-container
				Label Year
				input(id="year" name="year" type="number" ng-model="album.year" placeholder="{{album.year}}")
			md-input-container(layout="row")
				md-button.md-raised.md-warn(ng-click="delete()") Delete
				md-button.md-raised.md-primary(ng-click="save()") Save
