md-content(layout-padding="" style="padding: 24px;")
	md-content(layout-padding="")
		h1.md-primary Edit {{album.title}}

	md-content(layout-padding="" layout="row" layout-sm="column")
		form(name="parentForm")
			album-fields(register-form-scope="registerFormScope" album="album" edit="albumEdit")
			
			h2.md-primary Producers
			div(ng-repeat="producer in producers" ng-hide="producer._remove" layout="row" flex)
					span.producer-link
						a(ui-sref="root.producers.show({producerId: producer.id})") {{producer.name}} {{producer.class_year}}
					span(flex)
					span.producer-options
						md-button.md-raised.md-accent(ui-sref="root.producers.edit({producerId: producer.id})") Edit Producer
						md-button.md-raised.md-warn(href="#" ng-click="removeProducerAssociation(producer)) Remove Association") Remove association
			div(ng-repeat="producer in album.producers" layout="row" ng-hide="producer._remove")
				producer-fields(register-form-scope="registerFormScope" producer="producer" edit="producerEdit")
				md-input-container
					md-button.md-raised.md-warn(ng-click="removeProducer($index, album)") X Remove Producer
			md-input-container
				md-button.md-raised.md-accent(ng-click="addProducer()") + Add Producer					
			
			h2.md-primary Tracks
			x-track-table(tracks="tracks" headers="headers" count="count")
			div(ng-repeat="track in album.tracks" layout="row")
				track-fields(register-form-scope="registerFormScope" track="track" edit="trackEdit" artist-edit="artistEdit" tracks = "album.tracks" track-numbers="trackNumbers")
				md-input-container
					md-button.md-raised.md-warn(ng-click="removeTrack($index, album)") X Remove Track
			md-input-container
				md-button.md-raised.md-accent(ng-click="addTrack()") + Add track
			md-input-container(layout="row")
				md-button.md-raised.md-warn(ng-click="openDeleteDialog($event)") Delete
				md-button.md-raised.md-primary(ng-click="save()") Save
				md-progress-circular(md-mode="indeterminate" ng-show="formSending")
