md-content(layout-padding="" style="padding: 24px;")
	h1 Add an album

	md-content(layout-padding="" layout="row" layout-sm="column")
		form(name="new-album-form")
			md-input-container
				label Album Title
				input(id="album-title" name="title" type="text" ng-model="album.title")
			md-input-container
				label Year
				input(id="album-year" name="year" type="number" ng-model="album.year")
			md-input-container
				h3 Album Cover
				input(id="album-cover-image" name = "cover_image" type="file" ngf-select ng-model="album.file")
			h2 Producers
			div(ng-repeat="producer in album.producers")
				div(ng-hide="producer._destroy")
				section(layout="row")
					section(layout="column")
						md-input-container
							label Name
							input(id="producer-name" name="name" type="text" ng-model="producer.name")
						md-input-container
							label Class Year
							input(id="producer-class-year" name="class_year" type="number" ng-model="producer.class_year")
					section(layout="column")
						md-input-container
							md-button.md-raised.md-warn(ng-click="removeProducer($index, album)") X Remove Producer
			md-input-container
				md-button.md-raised.md-accent(ng-click="addProducer()") + Add Producer		
			h2 Tracks
			div(ng-repeat="track in album.tracks")
				div(ng-hide="track._destroy")
					section(layout="row")
						section(layout="column")
							md-input-container
								label Track Number
								input(id="track-number" name="track_number" type="number" ng-model="track.track_number")
							md-input-container
								label Title
								input(id="track-title" name="title" type="text" ng-model="track.title")
							md-input-container
								h3 Audio File
								input(id="track-audio" name = "audio" type="file" ngf-select ng-model="track.file")
							h3 Artists
							div(ng-repeat="artist in track.artists")
								div(ng-hide="artist._destroy")
									section(layout="row")
										section(layout="column")
											md-input-container
												label Name
												input(id="artist-name" name="name" type="text" ng-model="artist.name")
											md-input-container
												label Class Year
												input(id="artist-class-year" name="class_year" type="number" ng-model="artist.class_year")
										section(layout="column")
											md-input-container
												md-button.md-raised.md-warn(ng-click="removeArtist($index, track)") X Remove Artist
								md-input-container
									md-button.md-raised.md-accent(ng-click="addArtist(track)") + Add Artist
						section(layout="column")
							md-input-container
								md-button.md-raised.md-warn(ng-click="removeTrack($index, album)") X Remove Track
			md-input-container
				md-button.md-raised.md-accent(ng-click="addTrack()") + Add track
			md-input-container
				md-button.md-raised.md-primary(ng-click="save()") Add
