md-content(layout-padding="" style="padding: 24px;")
	h1 Add an album

	md-content(layout-padding="" layout="row" layout-sm="column")
		form(name="new-album-form")
			md-input-container
				label Album Title
				input(id="album-title" name="title" type="text" ng-model="album.title" placeholder="Title")
			md-input-container
				label Year
				input(id="year" name="year" type="number" ng-model="album.year" placeholder="Year")
			h2 Tracks
			div(ng-repeat="track in album.tracks")
				div(ng-hide="track._destroy")
					section(layout="row")
						section(layout="column")
							md-input-container
								label Track Number
								input(id="track-number" name="track_number" type="number" ng-model="track.track_number" placeholder="Track Number")
							md-input-container
								label Title
								input(id="track-title" name="title" type="text" ng-model="track.title" placeholder="Title")
						section(layout="column")
							md-input-container
								md-button.md-raised.md-warn(ng-click="removeTrack($index, album)") X
			md-input-container
				md-button.md-raised.md-accent(ng-click="addTrack()") + Add track
			md-input-container
				md-button.md-raised.md-primary(ng-click="save()") Add
