md-content#album-show(layout-padding="" style="padding: 24px;")
	h1 {{album.title}} {{album.year}}
	img(ng-src="{{album.cover_image.url}}")
	md-button.md-raised.md-accent(ui-sref="root.albums.edit({albumId: album.id})")
		|Edit this album
	div#album-producers
		h2 Producers
		ul(ng-repeat="producer in producers")
			li
				a(ui-sref="root.producers.show({producerId: producer.id})") {{producer.name}} {{producer.class_year}}
	div#album-tracks
		h2 Tracks
		x-track-table(tracks="tracks" headers="headers" count="count")
