md-content#album-show(layout-padding="" style="padding: 24px;")
	h1 {{album.title}} {{album.year}}
	md-button.md-raised.md-accent(ui-sref="root.albums.edit({albumId: album.id})")
		|Edit this album
	h2 Tracks
	div#album-tracks
		ul(ng-repeat="track in tracks")
			li
				|{{track.track_number}} {{track.title}}
