md-content#album-show(layout-padding="" style="padding: 24px;" ng-show="album")
	div(layout="row")
		div(ng-if="album.cover_image.url")
			img.md-whiteframe-z2.album-show-image(ng-src="{{album.cover_image.url}}")
		md-content.primary-content(layout-padding="" flex)
			div(layout="row")
				h1.md-primary.album-title {{album.title}}
				span(flex)
				md-button.md-raised.md-accent(ui-sref="root.albums.edit({albumId: album.id})" ng-if = "user.role && (user.role == 'admin' || user.role == 'producer')")		
					|Edit album
				md-button.md-raised.md-accent(ng-click="playAlbum()") Play	
			div(layout="row")
				p.md-subheader.album-subtitle 
					span(ng-if="album.year"){{album.year}} &nbsp&bull;&nbsp
					{{album.tracks_count}} {{album.tracks_count == 1 ? 'track' : 'tracks'}} &nbsp&bull;&nbsp {{album.duration*1000 | time}} 
					span(ng-if="album.cover_designer")&nbsp&bull;&nbsp Cover design:  {{album.cover_designer}}
			div.article(ng-bind-html="album.description")
		

	md-content.primary-content#album-producers(layout-padding="" ng-if="producers")
		h2.md-primary Producers
		div(style="padding-bottom: 24px;")
			grid-list(items="producers" type="'producer'" count="producerCount")
	md-content.primary-content#album-tracks(layout-padding="" ng-show="tracks")
		h2.md-primary Tracks
		x-track-table(tracks="tracks" headers="headers" count="trackCount")
