md-content(layout-padding="" style="padding: 24px;")

	h1 Edit {{artist.name}} {{artist.class_year}}

	md-content(layout-padding="" layout="row" layout-sm="column")
		form(name="edit-artist-form")
			md-input-container
				label Name
				input(id="name" name="name" type="text" ng-model="artist.name")
			md-input-container
				Label Class Year
				input(id="class-year" name="class_year" type="number" ng-model="artist.class_year")
			md-input-container
				h3 Profile Picture
				input(id="profile-picture" name = "profile-picture" type="file" ngf-select ng-model="artist.file")				
			md-input-container
				label Bio
				textarea(id="artist-bio" name="bio" type="text" ng-model="artist.bio")
			md-input-container(layout="row")
				md-checkbox.md-warn(ng-model="artist.delete_associated_tracks") Delete associated tracks?
				md-button.md-raised.md-warn(ng-click="delete()") Delete
				md-button.md-raised.md-primary(ng-click="save()") Save
				
