md-content(layout-padding="" style="padding: 24px;")

	h1 Edit {{artist.name}} {{artist.class_year}}

	md-content(layout-padding="" layout="row" layout-sm="column")
		form(name="edit-artist-form")
			md-input-container
				label Name
				input(id="name" name="name" type="text" ng-model="artist.name" placeholder="{{album.title}}")
			md-input-container
				Label Class Year
				input(id="class-year" name="class_year" type="number" ng-model="artist.class_year" placeholder="{{artist.class_year}}")
			md-input-container(layout="row")
				md-button.md-raised.md-warn(ng-click="delete()") Delete
				md-button.md-raised.md-primary(ng-click="save()") Save
