md-content(layout-padding="" style="padding: 24px;")
	md-content(layout-padding="")
		h1.md-primary Artists
	md-content(layout-padding="")
		grid-list(items="artists" type="'artist'" count="count" ng-show="artists")
