md-content(layout-padding="" style="padding: 24px;")
	h1 Artists
	grid-list(items="artists")
	//- ul(ng-repeat="artist in artists")
	//- 	li
	//- 		a(ui-sref="root.artists.show({artistId: artist.id})") {{artist.name}} {{artist.class_year}}
