md-content#artist-show(layout-padding="" style="padding: 24px;")
	h1 {{artist.name}} {{artist.class_year}}
	md-button.md-raised.md-accent(ui-sref="root.artists.edit({artistId: artist.id})")
		|Edit this artist
	p {{artist.bio}}
	img(ng-src="{{artist.profile_picture.large.url}}")
	div#artist-albums
		h2 Albums
		grid-list
	div#artist-tracks
		h2 Tracks
		x-track-table(tracks="tracks" headers="headers" count="count")
