md-content(layout-padding="" style="padding: 24px;")

	h1 Edit {{otheruser.name}}

	md-content(layout-padding="" layout="row" layout-sm="column")
		form(name="form")
			md-input-container
				label Name
				input(id="name" name="name" type="text" ng-model="otheruser.name")
			md-input-container
				label Eamil
				input(id="email" name="email" type="email" ng-model="otheruser.email")
			md-input-container
				label Role
				md-select(ng-model="otheruser.role")
					md-option(value="admin") admin
					md-option(value="producer") producer
					md-option(value="user") user
			md-input-container
				label Admin password
				input(id="admin_password" name="admin_password" type="password" ng-model="otheruser.admin_password")
			md-input-container(layout="row")
				md-button.md-raised.md-warn(ng-click="delete()") Delete
				md-button.md-raised.md-primary(ng-click="save()") Save
