md-sidenav.md-sidenav-left.md-whiteframe-z2(layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')")
	md-button-group(layout="column")
		md-button(ui-sref=".albums.index") Albums 
		md-button(ui-sref=".artists") Artists 
		md-button(ui-sref=".playlists") Playlists 
		md-button(ui-sref=".tracks.index") Tracks 
