form(layout="row" ng-submit="submit()")
  md-input-container
    label Search
    input(id="search_params" name="search_params" type="text" ng-model="searchParams")
  md-input-container
    md-button.md-icon-button(type="submit" ng-submit="submit()")
      i.mdi.mdi-magnify
