.sidebar-icon {
  font-size: 26px;
  margin-right: 26px;
}

.sidebar-selection {
  font-size: 22px;
}

#image-box {
  height:75px;
  width:75px;
}

.scroll-box {
  width: 175px;
  height: 1.2em;
  overflow: hidden;
  position: relative;
}
//
.scroll-text {
  position: absolute;
  white-space: nowrap;
}

.sidebar-content {
  margin: 10px;
}

.nav-selected {
  color: #2979FF;
}
