md-content(layout-padding="" style="")
  h1 Edit {{playlist.title}}
  form(name="form")
    md-input-container
      label Title
      input(id="title" name="title" type="text" ng-model="playlist.title")
      div(ng-messages="form.title.$error")
        div(ng-show="required") required  
    div#playlist-tracks
      h2 Tracks      
      x-track-table(tracks="tracks" headers="headers" count="count")
    md-input-container(layout="row")
      md-button.md-raised.md-warn(ng-click="openDeleteDialog($event)") Delete
      md-button.md-raised.md-primary(ng-click="save()") Save    
      md-progress-circular(md-mode="indeterminate" ng-show="formSending")
