md-content(layout-padding="" style="padding: 24px;")
  |This is the index page.
  md-button.md-raised.md-accent(ui-sref="root.playlists.new" ng-if = "user.id")
    |Add a playlist
  playlist-table(content="playlists" headers="headers" count="count")
