md-content(layout-padding="" style="padding: 24px;")
  md-content.primary-content(layout-padding="" flex)
    div(layout="row")
      h1.md-primary.album-title Playlists
      span(flex)
      md-button.md-raised.md-accent(ui-sref="root.playlists.new" ng-if = "user.id")
        |Add a playlist
  md-content.primary-content(layout-padding="")
    playlist-table(content="playlists" headers="headers" count="count")
