md-content#playlist-show(layout-padding="" style="padding: 24px;" ng-show="playlist")
  div(layout="row")
    md-content.primary-content(layout-padding="" flex)
      div(layout="row")
        h1.md-primary.album-title {{playlist.title}}
        span(flex)
        md-button.md-raised.md-accent(ui-sref="root.playlists.edit({playlistId: playlist.id})" ng-if = "user.id && user.id == playlist.user_id") Edit this playlist
        md-button.md-raised.md-accent(ng-click="playPlaylist()") Play	
      div(layout="row")
        p.md-subheader.album-subtitle
          {{playlist.author}} &nbsp&bull;&nbsp {{tracks.length}} {{tracks.length == 1 ? 'track' : 'tracks'}} &nbsp&bull;&nbsp {{playlist.duration*1000 | time}}
    
  md-content.primary-content#playlist-tracks(layout-padding="" ng-show="tracks")
    h2 Tracks
    x-track-table(tracks="tracks" headers="headers" count="count")
