audio
  source(ng-src="{{source}}")

div.md-player-controls(layout="row")
  rewind-button
  pause-play-button
  fast-forward-button
  current-time
  scrub-bar
  total-time
  shuffle-button
  repeat-button
  volume-bar
