md-content
  audio(controls)
    source(ng-src="{{source}}")

  div.md-player-controls(layout="row")
    rewind-button
    pause-play-button
    fast-forward-button
    current-time
    scrub-bar
    scrub-bar-current-time
    total-time
    shuffle-button
    loop-button
    volume-bar
