div(ng-click="changeRepeatState()" ng-class="{active: repeat!= 'off', inactive: repeat== 'off'}")
  i.mdi.mdi-repeat-off(ng-show="repeat=='off'")
  i.mdi.mdi-repeat(ng-show="repeat=='on'")
  i.mdi.mdi-repeat-once(ng-show="repeat=='once'")
