md-content(layout-padding="" style="padding: 24px;")
	md-content(layout-padding="")
		h1.md-primary Producers
	md-content(layout-padding="")
		grid-list(items="producers" type="'producer'" count="count" ng-show="producers")
