md-content#producer-show(layout-padding="" style="padding: 24px;" ng-show="producer")
	md-content(layout-padding="" layout="row" flex)
		h1.md-primary.album-title {{producer.name}} {{producer.class_year}}
		span(flex)
		md-button.md-raised.md-accent(ui-sref="root.producers.edit({producerId: producer.id})" ng-if = "user.role && (user.role == 'admin' || user.role == 'producer')")
			|Edit producer
	md-content.article.primary-content(layout-padding="" ng-if="producer.bio || producer.profile_picture.url")
		img.md-whiteframe-z2.person-show-image(ng-src="{{producer.profile_picture.url}}")
		{{producer.bio}}
	img(ng-src="{{producer.profile_picture.large.url}}")
	md-content.primary-content#producer-albums(layout-padding="")
		h2.md-primary Albums
		grid-list(items="albums" type="'album'" count="albumCount" ng-show="albums")
