md-content#producer-show(layout-padding="" style="padding: 24px;")
	h1 {{producer.name}} {{producer.class_year}}
	md-button.md-raised.md-accent(ui-sref="root.producers.edit({producerId: producer.id})")
		|Edit this producer
	img(ng-src="{{producer.profile_picture.url}}")
	p {{producer.bio}}
	div#producer-albums
		h2 Albums
		md-grid-list.album-grid-list(md-cols-sm="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height-md="2:2" md-gutter="12px" md-gutter-gt-sm="8px")
			md-grid-tile.md-primary.md-hue-1(ng-repeat="album in albums" md-rowspan="1" md-colspan="1")
				md-grid-tile-footer
					md-button(ui-sref="root.albums.show({albumId:album.id})")
						|{{album.title}}
					{{album.year}}
